In [7]:
import pandas as pd
import numpy as np
from tabulate import tabulate

# Ø§ÛŒØ¬Ø§Ø¯ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ù†Ù…ÙˆÙ†Ù‡ Ø§Ø² ÙØ±ÙˆØ´Ú¯Ø§Ù‡
data = {
    'Ø´Ù‡Ø±': ['ØªÙ‡Ø±Ø§Ù†', 'ØªÙ‡Ø±Ø§Ù†', 'Ù…Ø´Ù‡Ø¯', 'Ù…Ø´Ù‡Ø¯', 'Ø§ØµÙÙ‡Ø§Ù†', 'Ø§ØµÙÙ‡Ø§Ù†', 'ØªÙ‡Ø±Ø§Ù†', 'Ù…Ø´Ù‡Ø¯'],
    'Ù…Ø­ØµÙˆÙ„': ['Ù„Ù¾â€ŒØªØ§Ù¾', 'Ù…ÙˆØ¨Ø§ÛŒÙ„', 'Ù„Ù¾â€ŒØªØ§Ù¾', 'ØªØ¨Ù„Øª', 'Ù…ÙˆØ¨Ø§ÛŒÙ„', 'ØªØ¨Ù„Øª', 'ØªØ¨Ù„Øª', 'Ù…ÙˆØ¨Ø§ÛŒÙ„'],
    'ÙØ±ÙˆØ´Ù†Ø¯Ù‡': ['Ø¹Ù„ÛŒ', 'Ø±Ø¶Ø§', 'Ù…Ø±ÛŒÙ…', 'Ù…Ø­Ù…Ø¯', 'ÙØ§Ø·Ù…Ù‡', 'Ø­Ø³ÛŒÙ†', 'Ù†Ø§Ø²Ù†ÛŒÙ†', 'Ú©Ø§Ø¸Ù…'],
    'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´': [1500, 800, 1400, 600, 900, 550, 700, 850],
    'ØªØ¹Ø¯Ø§Ø¯': [3, 5, 2, 4, 6, 3, 2, 7],
    'Ù…Ø§Ù‡': ['ÙØ±ÙˆØ±Ø¯ÛŒÙ†', 'ÙØ±ÙˆØ±Ø¯ÛŒÙ†', 'Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª', 'ÙØ±ÙˆØ±Ø¯ÛŒÙ†', 'Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª', 'ÙØ±ÙˆØ±Ø¯ÛŒÙ†', 'Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª', 'ÙØ±ÙˆØ±Ø¯ÛŒÙ†']
}

df = pd.DataFrame(data)

print("ğŸ“Š Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ ÙØ±ÙˆØ´Ú¯Ø§Ù‡:")
df

ğŸ“Š Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ ÙØ±ÙˆØ´Ú¯Ø§Ù‡:

      Ø´Ù‡Ø±   Ù…Ø­ØµÙˆÙ„ ÙØ±ÙˆØ´Ù†Ø¯Ù‡  Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´  ØªØ¹Ø¯Ø§Ø¯       Ù…Ø§Ù‡
0   ØªÙ‡Ø±Ø§Ù†  Ù„Ù¾â€ŒØªØ§Ù¾     Ø¹Ù„ÛŒ       1500      3   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
1   ØªÙ‡Ø±Ø§Ù†  Ù…ÙˆØ¨Ø§ÛŒÙ„     Ø±Ø¶Ø§        800      5   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
2    Ù…Ø´Ù‡Ø¯  Ù„Ù¾â€ŒØªØ§Ù¾    Ù…Ø±ÛŒÙ…       1400      2  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
3    Ù…Ø´Ù‡Ø¯    ØªØ¨Ù„Øª    Ù…Ø­Ù…Ø¯        600      4   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
4  Ø§ØµÙÙ‡Ø§Ù†  Ù…ÙˆØ¨Ø§ÛŒÙ„   ÙØ§Ø·Ù…Ù‡        900      6  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
5  Ø§ØµÙÙ‡Ø§Ù†    ØªØ¨Ù„Øª    Ø­Ø³ÛŒÙ†        550      3   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
6   ØªÙ‡Ø±Ø§Ù†    ØªØ¨Ù„Øª  Ù†Ø§Ø²Ù†ÛŒÙ†        700      2  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
7    Ù…Ø´Ù‡Ø¯  Ù…ÙˆØ¨Ø§ÛŒÙ„    Ú©Ø§Ø¸Ù…        850      7   ÙØ±ÙˆØ±Ø¯ÛŒÙ†

In [ ]:
# Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ Ø¨Ù‡ ØªÙÚ©ÛŒÚ© Ø´Ù‡Ø±

df.groupby('Ø´Ù‡Ø±')['Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´'].mean()
df.groupby('Ø´Ù‡Ø±').agg({'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´': 'mean'})

        Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´  ØªØ¹Ø¯Ø§Ø¯
Ø´Ù‡Ø±
Ø§ØµÙÙ‡Ø§Ù†      725.0      9
ØªÙ‡Ø±Ø§Ù†      1000.0     10
Ù…Ø´Ù‡Ø¯        950.0     13

In [ ]:
# Ù…Ø¬Ù…ÙˆØ¹ ØªØ¹Ø¯Ø§Ø¯ ÙØ±ÙˆØ´ Ø¨Ù‡ ØªÙÚ©ÛŒÚ© Ø´Ù‡Ø± Ùˆ Ù…Ø­ØµÙˆÙ„

df.groupby(['Ø´Ù‡Ø±','Ù…Ø­ØµÙˆÙ„']).agg({'ØªØ¹Ø¯Ø§Ø¯':'sum'})

               ØªØ¹Ø¯Ø§Ø¯
Ø´Ù‡Ø±    Ù…Ø­ØµÙˆÙ„
Ø§ØµÙÙ‡Ø§Ù† ØªØ¨Ù„Øª        3
       Ù…ÙˆØ¨Ø§ÛŒÙ„      6
ØªÙ‡Ø±Ø§Ù†  ØªØ¨Ù„Øª        2
       Ù„Ù¾â€ŒØªØ§Ù¾      3
       Ù…ÙˆØ¨Ø§ÛŒÙ„      5
Ù…Ø´Ù‡Ø¯   ØªØ¨Ù„Øª        4
       Ù„Ù¾â€ŒØªØ§Ù¾      2
       Ù…ÙˆØ¨Ø§ÛŒÙ„      7

In [ ]:
# Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ Ùˆ Ù…Ø¬Ù…ÙˆØ¹ ØªØ¹Ø¯Ø§Ø¯ Ø¨Ù‡ ØªÙÚ©ÛŒÚ© Ø´Ù‡Ø±

df.groupby('Ø´Ù‡Ø±').agg({'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´':'mean','ØªØ¹Ø¯Ø§Ø¯':'sum'})

        Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´  ØªØ¹Ø¯Ø§Ø¯
Ø´Ù‡Ø±
Ø§ØµÙÙ‡Ø§Ù†      725.0      9
ØªÙ‡Ø±Ø§Ù†      1000.0     10
Ù…Ø´Ù‡Ø¯        950.0     13

In [22]:
# Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø´Ù‡Ø±: Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ØŒ Ú©Ù…ØªØ±ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯ØŒ Ùˆ ØªØ¹Ø¯Ø§Ø¯ ÙØ±ÙˆØ´â€ŒÙ‡Ø§ÛŒ Ø§Ù†Ø¬Ø§Ù… Ø´Ø¯Ù‡

df.groupby('Ø´Ù‡Ø±').agg({
    'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´': 'max',      # Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´
    'ØªØ¹Ø¯Ø§Ø¯': 'min',          # Ú©Ù…ØªØ±ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯
    'ÙØ±ÙˆØ´Ù†Ø¯Ù‡': 'count'       # ØªØ¹Ø¯Ø§Ø¯ ÙØ±ÙˆØ´â€ŒÙ‡Ø§ÛŒ Ø§Ù†Ø¬Ø§Ù… Ø´Ø¯Ù‡
})

        Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´  ØªØ¹Ø¯Ø§Ø¯  ÙØ±ÙˆØ´Ù†Ø¯Ù‡
Ø´Ù‡Ø±
Ø§ØµÙÙ‡Ø§Ù†        900      3        2
ØªÙ‡Ø±Ø§Ù†        1500      2        3
Ù…Ø´Ù‡Ø¯         1400      2        3

In [23]:
df

      Ø´Ù‡Ø±   Ù…Ø­ØµÙˆÙ„ ÙØ±ÙˆØ´Ù†Ø¯Ù‡  Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´  ØªØ¹Ø¯Ø§Ø¯       Ù…Ø§Ù‡
0   ØªÙ‡Ø±Ø§Ù†  Ù„Ù¾â€ŒØªØ§Ù¾     Ø¹Ù„ÛŒ       1500      3   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
1   ØªÙ‡Ø±Ø§Ù†  Ù…ÙˆØ¨Ø§ÛŒÙ„     Ø±Ø¶Ø§        800      5   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
2    Ù…Ø´Ù‡Ø¯  Ù„Ù¾â€ŒØªØ§Ù¾    Ù…Ø±ÛŒÙ…       1400      2  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
3    Ù…Ø´Ù‡Ø¯    ØªØ¨Ù„Øª    Ù…Ø­Ù…Ø¯        600      4   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
4  Ø§ØµÙÙ‡Ø§Ù†  Ù…ÙˆØ¨Ø§ÛŒÙ„   ÙØ§Ø·Ù…Ù‡        900      6  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
5  Ø§ØµÙÙ‡Ø§Ù†    ØªØ¨Ù„Øª    Ø­Ø³ÛŒÙ†        550      3   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
6   ØªÙ‡Ø±Ø§Ù†    ØªØ¨Ù„Øª  Ù†Ø§Ø²Ù†ÛŒÙ†        700      2  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
7    Ù…Ø´Ù‡Ø¯  Ù…ÙˆØ¨Ø§ÛŒÙ„    Ú©Ø§Ø¸Ù…        850      7   ÙØ±ÙˆØ±Ø¯ÛŒÙ†

In [ ]:
# Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯ ÙØ±ÙˆØ´ Ø¨Ù‡ ØªÙÚ©ÛŒÚ© Ù…Ø­ØµÙˆÙ„

df.groupby('Ù…Ø­ØµÙˆÙ„').agg({'ØªØ¹Ø¯Ø§Ø¯':'mean'})

        ØªØ¹Ø¯Ø§Ø¯
Ù…Ø­ØµÙˆÙ„
ØªØ¨Ù„Øª        4
Ù„Ù¾â€ŒØªØ§Ù¾      3
Ù…ÙˆØ¨Ø§ÛŒÙ„      7

In [ ]:
# Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ Ø¨Ù‡ ØªÙÚ©ÛŒÚ© Ø´Ù‡Ø± Ùˆ Ù…Ø§Ù‡

df.groupby(['Ø´Ù‡Ø±','Ù…Ø§Ù‡']).agg({'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´':'max'})

                 Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´
Ø´Ù‡Ø±    Ù…Ø§Ù‡
Ø§ØµÙÙ‡Ø§Ù† Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª        900
       ÙØ±ÙˆØ±Ø¯ÛŒÙ†         550
ØªÙ‡Ø±Ø§Ù†  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª        700
       ÙØ±ÙˆØ±Ø¯ÛŒÙ†        1500
Ù…Ø´Ù‡Ø¯   Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª       1400
       ÙØ±ÙˆØ±Ø¯ÛŒÙ†         850

In [ ]:
# Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ù…Ø­ØµÙˆÙ„: Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ Ùˆ Ù…Ø¬Ù…ÙˆØ¹ ØªØ¹Ø¯Ø§Ø¯

df.groupby('Ù…Ø­ØµÙˆÙ„').agg({'ØªØ¹Ø¯Ø§Ø¯':'sum','Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´':'mean'})

        ØªØ¹Ø¯Ø§Ø¯    Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´
Ù…Ø­ØµÙˆÙ„
ØªØ¨Ù„Øª        9   616.666667
Ù„Ù¾â€ŒØªØ§Ù¾      5  1450.000000
Ù…ÙˆØ¨Ø§ÛŒÙ„     18   850.000000

In [ ]:
# Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø´Ù‡Ø±: ØªØ¹Ø¯Ø§Ø¯ Ù…Ø­ØµÙˆÙ„Ø§Øª Ù…Ø®ØªÙ„Ù ÙØ±ÙˆØ®ØªÙ‡ Ø´Ø¯Ù‡ØŒ Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯ Ùˆ Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´

df.groupby('Ø´Ù‡Ø±').agg({
    'Ù…Ø­ØµÙˆÙ„': 'nunique',      # ØªØ¹Ø¯Ø§Ø¯ Ù…Ø­ØµÙˆÙ„Ø§Øª Ù…Ø®ØªÙ„Ù
    'ØªØ¹Ø¯Ø§Ø¯': 'mean',         # Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯
    'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´': 'mean'      # Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´
})


# nunique(): ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± Ù…Ù†Ø­ØµØ± Ø¨Ù‡ ÙØ±Ø¯ (Ø¨Ø¯ÙˆÙ† ØªÚ©Ø±Ø§Ø±)
# count(): ØªØ¹Ø¯Ø§Ø¯ Ú©Ù„ Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ (Ù‡Ù…Ù‡ Ù…Ù‚Ø§Ø¯ÛŒØ± Ø­ØªÛŒ ØªÚ©Ø±Ø§Ø±ÛŒ)

        Ù…Ø­ØµÙˆÙ„  Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´     ØªØ¹Ø¯Ø§Ø¯
Ø´Ù‡Ø±
Ø§ØµÙÙ‡Ø§Ù†      2      725.0  4.500000
ØªÙ‡Ø±Ø§Ù†       3     1000.0  3.333333
Ù…Ø´Ù‡Ø¯        3      950.0  4.333333

In [36]:
df

      Ø´Ù‡Ø±   Ù…Ø­ØµÙˆÙ„ ÙØ±ÙˆØ´Ù†Ø¯Ù‡  Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´  ØªØ¹Ø¯Ø§Ø¯       Ù…Ø§Ù‡
0   ØªÙ‡Ø±Ø§Ù†  Ù„Ù¾â€ŒØªØ§Ù¾     Ø¹Ù„ÛŒ       1500      3   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
1   ØªÙ‡Ø±Ø§Ù†  Ù…ÙˆØ¨Ø§ÛŒÙ„     Ø±Ø¶Ø§        800      5   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
2    Ù…Ø´Ù‡Ø¯  Ù„Ù¾â€ŒØªØ§Ù¾    Ù…Ø±ÛŒÙ…       1400      2  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
3    Ù…Ø´Ù‡Ø¯    ØªØ¨Ù„Øª    Ù…Ø­Ù…Ø¯        600      4   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
4  Ø§ØµÙÙ‡Ø§Ù†  Ù…ÙˆØ¨Ø§ÛŒÙ„   ÙØ§Ø·Ù…Ù‡        900      6  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
5  Ø§ØµÙÙ‡Ø§Ù†    ØªØ¨Ù„Øª    Ø­Ø³ÛŒÙ†        550      3   ÙØ±ÙˆØ±Ø¯ÛŒÙ†
6   ØªÙ‡Ø±Ø§Ù†    ØªØ¨Ù„Øª  Ù†Ø§Ø²Ù†ÛŒÙ†        700      2  Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª
7    Ù…Ø´Ù‡Ø¯  Ù…ÙˆØ¨Ø§ÛŒÙ„    Ú©Ø§Ø¸Ù…        850      7   ÙØ±ÙˆØ±Ø¯ÛŒÙ†

In [46]:
# Ù„ÛŒØ³Øª ÙØ±ÙˆØ´Ù†Ø¯Ù‡ Ù‡Ø§ÛŒ ØªÙ…Ø§Ù… Ø´Ù‡Ø± Ù‡Ø§ Ø±Ùˆ Ø¨Ú¯ÛŒØ±Ù…ØŸ
# ØªÙ…Ø§Ù… Ø´Ù‡Ø± Ù‡Ø§ Ùˆ ÙØ±ÙˆØ´Ù†Ø¯Ù‡ Ù‡Ø§Ø´ÙˆÙ†

df.groupby('Ø´Ù‡Ø±')['ÙØ±ÙˆØ´Ù†Ø¯Ù‡'].unique()
df.groupby('Ø´Ù‡Ø±').agg({'ÙØ±ÙˆØ´Ù†Ø¯Ù‡': 'unique'})

                   ÙØ±ÙˆØ´Ù†Ø¯Ù‡
Ø´Ù‡Ø±
Ø§ØµÙÙ‡Ø§Ù†       [ÙØ§Ø·Ù…Ù‡, Ø­Ø³ÛŒÙ†]
ØªÙ‡Ø±Ø§Ù†   [Ø¹Ù„ÛŒ, Ø±Ø¶Ø§, Ù†Ø§Ø²Ù†ÛŒÙ†]
Ù…Ø´Ù‡Ø¯    [Ù…Ø±ÛŒÙ…, Ù…Ø­Ù…Ø¯, Ú©Ø§Ø¸Ù…]

In [ ]:
# ØªØ¹Ø¯Ø§Ø¯ ÙØ±ÙˆØ´Ù†Ø¯Ú¯Ø§Ù† Ù…Ø®ØªÙ„Ù Ø¯Ø± Ù‡Ø± Ø´Ù‡Ø±

df.groupby('Ø´Ù‡Ø±').agg({'ÙØ±ÙˆØ´Ù†Ø¯Ù‡': 'nunique'})
df.groupby('Ø´Ù‡Ø±').agg({'ÙØ±ÙˆØ´Ù†Ø¯Ù‡': 'count'})

        ÙØ±ÙˆØ´Ù†Ø¯Ù‡
Ø´Ù‡Ø±
Ø§ØµÙÙ‡Ø§Ù†        2
ØªÙ‡Ø±Ø§Ù†         3
Ù…Ø´Ù‡Ø¯          3

In [ ]:
# Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ Ø¨Ù‡ ØªÙÚ©ÛŒÚ© Ù…Ø­ØµÙˆÙ„ Ùˆ Ù…Ø§Ù‡

df.groupby(['Ù…Ø­ØµÙˆÙ„', 'Ù…Ø§Ù‡']).agg({'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´':'mean'})
df.groupby([ 'Ù…Ø§Ù‡' ,'Ù…Ø­ØµÙˆÙ„']).agg({'Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´':'mean'})

                 Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´
Ù…Ø­ØµÙˆÙ„  Ù…Ø§Ù‡
ØªØ¨Ù„Øª   Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª      700.0
       ÙØ±ÙˆØ±Ø¯ÛŒÙ†       575.0
Ù„Ù¾â€ŒØªØ§Ù¾ Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª     1400.0
       ÙØ±ÙˆØ±Ø¯ÛŒÙ†      1500.0
Ù…ÙˆØ¨Ø§ÛŒÙ„ Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª      900.0
       ÙØ±ÙˆØ±Ø¯ÛŒÙ†       825.0

In [ ]:
# Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ù…Ø§Ù‡: Ù…Ø¬Ù…ÙˆØ¹ ØªØ¹Ø¯Ø§Ø¯ØŒ Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ Ùˆ ØªØ¹Ø¯Ø§Ø¯ Ø´Ù‡Ø±Ù‡Ø§ÛŒ Ù…Ø®ØªÙ„Ù

df.groupby('Ù…Ø§Ù‡').agg({'ØªØ¹Ø¯Ø§Ø¯':'sum','Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´':'max','Ø´Ù‡Ø±':'nunique'})

          ØªØ¹Ø¯Ø§Ø¯  Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´  Ø´Ù‡Ø±
Ù…Ø§Ù‡
Ø§Ø±Ø¯ÛŒØ¨Ù‡Ø´Øª     10       1400    3
ÙØ±ÙˆØ±Ø¯ÛŒÙ†      22       1500    3

In [55]:
# Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ù…Ø­ØµÙˆÙ„: Ø§ÙˆÙ„ÛŒÙ† Ùˆ Ø¢Ø®Ø±ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´ØŒ Ùˆ Ø§Ø®ØªÙ„Ø§Ù Ø¨ÛŒÙ† Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ùˆ Ú©Ù…ØªØ±ÛŒÙ† Ù…Ø¨Ù„Øº ÙØ±ÙˆØ´

df.groupby('Ù…Ø­ØµÙˆÙ„').agg(
    Ø§ÙˆÙ„ÛŒÙ†_ÙØ±ÙˆØ´=('Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´', 'first'),
    Ø¢Ø®Ø±ÛŒÙ†_ÙØ±ÙˆØ´=('Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´', 'last'), 
    Ø¨ÛŒØ´ØªØ±ÛŒÙ†_ÙØ±ÙˆØ´=('Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´', 'max'),
    Ú©Ù…ØªØ±ÛŒÙ†_ÙØ±ÙˆØ´=('Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´', 'min'),
    Ø§Ø®ØªÙ„Ø§Ù_ÙØ±ÙˆØ´=('Ù…Ø¨Ù„Øº_ÙØ±ÙˆØ´', lambda x: x.max() - x.min())
)

        Ø§ÙˆÙ„ÛŒÙ†_ÙØ±ÙˆØ´  Ø¢Ø®Ø±ÛŒÙ†_ÙØ±ÙˆØ´  Ø¨ÛŒØ´ØªØ±ÛŒÙ†_ÙØ±ÙˆØ´  Ú©Ù…ØªØ±ÛŒÙ†_ÙØ±ÙˆØ´  Ø§Ø®ØªÙ„Ø§Ù_ÙØ±ÙˆØ´
Ù…Ø­ØµÙˆÙ„
ØªØ¨Ù„Øª           600         700           700          550          150
Ù„Ù¾â€ŒØªØ§Ù¾        1500        1400          1500         1400          100
Ù…ÙˆØ¨Ø§ÛŒÙ„         800         850           900          800          100

In [1]:
import pandas as pd
bios=pd.read_excel("C:/Users/LENOVO/Downloads/olympics-data.xlsx")

In [ ]:
# **** ØªØ¨Ø¯ÛŒÙ„ Ø¨Ù‡ ØªØ§Ø±ÛŒØ® ****
bios['born_date']=pd.to_datetime(bios['born_date'])
# ***** reset_index()=Generate a new DataFrame or Series with the index reset. *****
# ***** ØµØ±ÙØ§ Ø¨Ø±Ø§ÛŒ Ø´Ù…Ø§Ø±Ø´ Ø§Ø² Ø³ØªÙˆÙ† name Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒÚ©Ù†Ù‡ *****
result = bios.groupby(bios['born_date'].dt.year)['name'].count().reset_index().sort_values(by='name', ascending=False)
result

     born_date  name
139     1972.0  2231
152     1985.0  2227
140     1973.0  2216
138     1971.0  2205
137     1970.0  2174
..         ...   ...
5       1838.0     1
4       1837.0     1
3       1836.0     1
2       1833.0     1
176     2009.0     1

[177 rows x 2 columns]

In [6]:
bios['born_date']=pd.to_datetime(bios['born_date'])
bios['month_date'] = bios['born_date'].dt.month
bios['year_date'] = bios['born_date'].dt.year
bios.groupby(['year_date', 'month_date'])['name'].count().reset_index().sort_values('name',ascending=False)

      year_date  month_date  name
1437     1970.0         1.0   239
1461     1972.0         1.0   229
1629     1986.0         1.0   227
1497     1975.0         1.0   227
1617     1985.0         1.0   225
...         ...         ...   ...
95       1857.0         5.0     1
96       1857.0         7.0     1
97       1857.0         8.0     1
98       1857.0         9.0     1
1884     2009.0         1.0     1

[1885 rows x 3 columns]